
<div class="dashboard">
<nav>
    <h4 routerLink="Welcome">Welcome</h4>
<h4 routerLink="Home">Home</h4>
<h4 routerLink="Data-Binding">Data-Binding</h4>
<h4 routerLink="Calculator">Calculator</h4>
<h4 routerLink="Bmi">Bmi</h4>
<h4 routerLink="Rectangle">Rectangle</h4>
<h4 routerLink="Circle">Circle</h4>
<h4 routerLink="Directives">Directives</h4>
<h4 routerLink="Pipes">Pipes</h4>
<h4 routerLink="Employees">Employees</h4>
<h4 routerLink="Event Registration">Event Registration</h4>
<h4 routerLink="Cart">Cart</h4>
<h4 routerLink="dashbooard">dashbooard</h4>
<!-- <h4 routerLink="Flipkart">Flipkart</h4> -->
<h4 routerLink="Amazon">Amazon</h4>
<h4 routerLink="Employee-management">Employee-management</h4>
<h4 routerLink="Emp-Table">Emp-Table</h4>
<h4 routerLink="vehicle">vehicle</h4>
<h4 routerLink="account">account</h4>
<h4 routerLink="myntra">myntra</h4>
<h4 routerLink="Mail">Mail</h4>
<h4 routerLink="Reload">Reload</h4>
<h4 routerLink="Photo">Photo</h4>
<h4 routerLink="create-vehicle">create-vehicle</h4>
<h4 routerLink="create-account">create-account</h4>
<h4 routerLink="student">student</h4>
<h4 routerLink="create-student">create-student</h4>
<h4 routerLink="vehicle-details">vehicle-details</h4>
<h4 routerLink="account-details">account-details</h4>
<h4 routerLink="student-details">student-details</h4>
<button (click)="logout()">logout</button>
</nav>
<div class="it">
<router-outlet></router-outlet>
</div>
</div>