<p>student-details works!</p>

<img src="{{student.school_logo}}" alt="">

<h4>{{student.school_name}}</h4>
            <h4>{{student.school_city}}</h4>
            <h4>{{student.school_pin}}</h4>

            <img src="{{student.profile_picture}}" alt="">

            <h4>NAME:{{student.name}}</h4>
            <h4>ID:{{student.id}}</h4>
            <h4>PHONE:{{student.phone}}</h4>
            <h4>EMAIL:{{student.email}}</h4>
            <h4>CITY:{{student.city}}</h4>
            <h4>DOB:{{student.dob}}</h4>
